.auth-container{
    display: block;
}
.graphics-container{
        display: none;
    }
.form-area-container {
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.top-container{
    width: 63%;
    max-width: 330px;
    text-align: left;
}
/* @media only screen and (min-width: 600px) { */
/* tablet portrait */
/* } */
/* @media only screen and (min-width: 768px) { */
/* tablet portrait */
/* } */
/* @media only screen and (min-width: 992px) { */
/* laptops portrait */
/* } */


.form-container {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 500px; */
}
.auth-button{
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    width: 100%;
    border-radius: 40px ;
    padding:12px 0;
    border: none;
    margin: 10px 0;
    background: rgb(51,221,135);
    background: linear-gradient(90deg, rgba(51,221,135,1) 0%, rgba(100,237,152,1) 79%, rgba(156,255,172,1) 100%);
    transition: all 0.5s;
}
.auth-button:focus{
    outline: none;
}
.auth-button:hover{
    background: rgb(175, 222, 198);
}

.text-field{
    width: 300px;
    margin: 5px 0;
    height: 30px;
    border: none;
    border-bottom: 2px solid #33DD87 ;
}
.text-field:focus{
    outline: none;
}
.link-text{
    color: #33DD87;
    text-decoration: none;
    font-weight: bold;
}
.login-signup-links-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.errors{
    max-width: 300px;
    margin: 10px 0;
}

@media only screen and (min-width: 768px) {
    .auth-container{
        display: flex;
    }
    .graphics-container {
        display: flex;
        background: url('../images/login-bg.svg') no-repeat left center fixed;
        background-size: cover;
        width: 100vw;
        justify-content: center;
        align-items: center;
    }
    .form-area-container {
        width: 40%;
        padding: 0 100px; 
    }
    .top-container{
        width: 100%;
    }
    .bullet-point{
        display: flex;
        justify-content: flex-start;
        color: #fff;
        font-size: 18px;    
        margin-top: 25px;
    }
    .graphics-points-container{
        margin-bottom: 400px;
        margin-left: 300px;

    }
    .text-field{
        width: 300px;
    }
}   