.create-post-container{
    width: 780px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    margin: 15px 0;
    cursor: pointer;
    
}
.expand-create-button-container{
    padding: 20px;
    display: flex;
    align-items: center;
}
.create-button-icon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: linear-gradient(43deg, rgba(51,221,135,1) 0%, rgba(68,226,141,1) 72%, rgba(100,237,152,1) 87%, rgba(156,255,172,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.create-button-label{
    margin-left: 20px;
    font-size: 25px;
}
.events-buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}
.icon-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 40px;
}
.event-post-icon{
    fill: #666;
}