.fullname.friends{
    font-size: 15px;
    display: flex;
    margin-bottom: 5px;
}
.profile-picture-friends{
    margin-right: 10px;
}
.button-content-container{
    display: flex;
    align-items: center;
}
.friends-container-title{
    font-weight: bold;
    color: #AAAAAA;
    margin-left: 8px;
    margin-bottom: 5px;
}