.header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 0px;
}
.photo-container{
    padding: 0 20px ;
}
.fullname{
    font-weight: 500;
    color: #666;
}
.middle-side-container{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 18px;
}
.filler-word{
    margin-right: 5px;
    margin-left: 5px;
}
.fullname.coma{
    margin-right: 5px;
}
.left-side-container{
    display: flex;
    align-items: center;
}
.right-side-container{
    padding: 0 40px;
}
.paper-card.MuiPaper-rounded{
   border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.body-photo{
    width: 100%;
    max-width: 780px;
    height: 100%;
    object-fit: cover;
}
.description {
    font-size: 19px;
    color: #666;
    padding: 0 20px;
    padding-bottom: 12px;
}
.button-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-left-side, .footer-right-side{
    margin: 20px 35px
}
.footer-buttons{
    margin-right: 30px;
}
.footer-buttons:active { 
    transform: scale(0.9); 
}
.post-timestamp{
    font-size: 13px;
}
.comment-section{
   text-align: center;
   padding: 20px 0;

}
.comment-input-section{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.comment-display-section{
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 10px;
}
.bg-area{
    background-color: #EFEFEF;
    border-radius: 20px;
    padding: 10px 20px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
.comment-menu-container{
    cursor: pointer;
    margin-left: 10px;
}
.comment-menu-container:active { 
    transform: scale(0.9); 
}
.top-comment-side{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comment-area{
    width: 86%;
    text-align: left;
}
.comment-timestamp{
    font-size: 0.8em;
    margin-left: 20px;
    margin-top: 3px ;
}
.comment{
    color: #666;
}
.comment-like-button{
    margin-right: 10px ;
}
.body-description-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.event-icon{
    color: #33DD87;
}
.icon-tag{
    color: #33DD87;
    font-weight: bold;
    margin-bottom: 10px;
}
.name-time-container{
    font-size: 19px;
}
.footer-right-side{
    display: flex;
}
.comments-count-tag{
    margin-left: 30px;
}
.input-container{
    width: 80%;
}
.comment-input{
   max-width: 680px; 
   width: 100%; 
}

.paper-card{
    width: 96%;
    margin: 0 10px;
}
@media only screen and (min-width: 768px) {
    .paper-card{
        width: 100%;
        margin: 0;
        max-width: 780px;
    }
    .input-container{
        width: 87%;
    }
}
