
.profile-container{
    background-color: #EFEFEF;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
}
.top-picture-section-container{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fff;
    height: 550px;
    width: 100vw;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    margin-bottom: 10px;
}
.cover-picture{
    object-fit: cover;
    width: 100%;
    max-height: 350px;
}
.profile-picture{
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #fff;
    position: absolute;
    top: 20%;
    left: 5%;
}
.upload-cover-photo-container{
    position: absolute;
    top: 78%;
    right: 5%;
}
.basic-info-container{
    margin-left: 5%;
    margin-top: 160px;
}
.location-container, .joined-container{
    display: flex;
    align-items: center;
    color: #666666;
    margin-top: 5px;
}
.info-icon{
    margin-right: 10px;
}
.upload-profile-picture-button-container{
    position: absolute;
    top: 43%;
    left: 45%;
}
.edit-profile-container{
    position: absolute;
    top: 88%;
    right: 4%;
}
.hidden{
    display: none;
}
.loading-container{
    position: absolute;
    margin: 10% 50%;
    z-index: 1;
}
.profile-body-container{
    width: 100vw;
    max-width: 780px;
}
@media only screen and (min-width: 768px) {
    
    .create-post-profile{
        padding-right: 20px;
    }
    .profile-container{
        margin-top: 0;
    }
    .top-picture-section-container{
        width: 940px;
    }
    .cover-picture{
        height: 100%;
        max-width: 940px;
    }
    .profile-picture{
        top: 40%;
    }
    .upload-profile-picture-button-container{
        top: 63%;
        left: 19%;
    }
    .upload-cover-photo-container{
        top: 52%;
        right: 4%;
    }
    .basic-info-container{
        margin-top: 50px;
    }
}
