.profile-container{
    background-color: #EFEFEF;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-picture-section-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cover-picture{
    object-fit: cover;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: relative;

}
.profile-picture{
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #EFEFEF;
    position: absolute;
    top: 250px;
    right: 45%;

}