.content-container{
    background-color: #EFEFEF;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.entry-container{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 100px auto auto;
    align-items: center;
}
.paper-container{
    width: 97vw;
    margin-top: 15px;
    margin: 15px;
}
.no-results{
    color: #666;
    opacity: 0.3;
    font-size: 40px;
    margin-top: 20px;
}
@media only screen and (min-width: 768px) {
    .paper-container{
        width: 750px;
        margin-top: 15px;
    }
}
.thumbnail-container, .add-button-container{
    margin: 10px 20px;
}
.add-button-container{
    justify-self: end;
}
.thumbnail-image{
    object-fit: cover;
    border-radius: 50%;
}
.fullname.search{
    font-weight: 500;
    color: #666;
    font-size: 19px;
}
.add-button.MuiButton-contained{
    border-radius: 40px;
}
.divider{
    border-bottom: 1px solid #DDD;
}
